/* ALAP GRID-ELRENDEZÉS */
.grid-layout{
display: grid;
grid-template-areas:
"header header"
"aside content"
"footer footer";
grid-template-columns: 1fr 2fr;
gap: 3px;
background-color: rgb(88, 139, 190);
padding: 5px;
max-width: 1500px;
}


.box{
background: rgb(31, 87, 112);
border-radius: 10px;
}


.header{
grid-area: header;
background: rgb(85, 75, 139);
}


.aside{
grid-area: aside;
}


.content{
grid-area: content;
background-color: rgb(59, 87, 139);
}


.footer{
grid-area: footer;
text-align: center;
}


@media (min-width: 600px) {
.header {grid-area: 1 / span 6;}
.menu {grid-area: 2 / span 1;}
.content {grid-area: 2 / span 4;}
.facts {grid-area: 2 / span 1;}
.footer {grid-area: 3 / span 6;}
}


/* DELFINEK KÉP STÍLUS */
img.delfin {
width: 100%;
max-width: 800px;
height: auto;
display: block;
object-fit: cover;
border-radius: 10px;
box-shadow: 0 10px 30px rgba(0,0,0,0.2);
transition: transform 0.25s ease, box-shadow 0.25s ease;
}


img.delfin:hover {
transform: scale(1.02);
box-shadow: 0 18px 40px rgba(0,0,0,0.3);
}