.grid-layout{
    display: grid;
    grid-template-areas:
        "header header"
        "aside content"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    gap: 3px;
    background-color: rgb(88, 139, 190);
    padding: 5px;
    max-width: 1500px;
}

.box{
    background: rgb(31, 87, 112);
    border-radius: 10px;
}

.header{
    grid-area: header;
    background: rgb(85, 75, 139);
}

.aside{
    grid-area: aside;
}

.content{
    grid-area: content;
    background-color: rgb(59, 87, 139);
}

.footer{
    grid-area: footer;
    text-align: center;
}

/* KÉP STÍLUS - ENYHE */
img.delfin {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    margin-top: 10px;
    transition: transform 0.2s ease;
}

img.delfin:hover {
    transform: scale(1.02);
    cursor: pointer;
}

@media (max-width: 600px) {
    .grid-layout{
        grid-template-areas:
        "header"
        "aside"
        "content"
        "footer";
        grid-template-columns: 1fr;
    }
}
